.interna-contato {
  background: url("../img/bg-contato.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Orçamento */

.contato {
  padding: 40px 0;
}

.form-contato {
  padding-right: 60px;
}

.form-contato label {
  display: block;
  margin-bottom: 4px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 25px;
}

.form-contato input,
.form-contato textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 10px;
  border: 4px solid #fec63e;
  background: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif;
  outline: none;
}

.form-contato textarea {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
}

.form-contato button {
  padding: 7px 40px;
  background: none;
}

.dados-contato h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
  color: #fec63e;
}

.dados-contato span {
  display: block;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 30px;
}

.dados-contato span:nth-of-type(even) {
  margin-bottom: 30px;
}

.dados-contato ul {
  margin-top: 10px;
}

.dados-contato ul li {
  display: inline-block;
}

.dados-contato ul li a {
  display: block;
  margin-right: 10px;
  border: 3px solid #fec63e;
  padding: 10px;
}

.dados-contato ul li a:hover {
  border-color: #000;
}

.contato-mapa {
  margin-bottom: 60px;
}
