.interna-produtos {
	background: url("../img/bg-produtos.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.produto-item {
	padding-top: 60px;
}

.produto-icone {
	background: #000;
	padding: 70px 0;
}

.produto-item h2 {
	position: relative;
	top: -184px;
	margin-bottom: -76px;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	text-align: center;
	color: #fff;
}

.produto-item h2:after,
.produto-item h2:before {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px;
}		

.produto-icone img {
	margin: 0 auto;
}


.produto-info {
	background: #000;
}

.produto-info p {
	padding: 30px 40px;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
}

.produto-info ul li {
	float: left;
	width: 229px;
	height: 49px;
	background: #F3C63E;
	font-size: 18px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
}