/*  estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /* qualidade home */
  .qualidade:after {
    right: 73px;
  }

  .qualidade-lista li {
    padding: 0 0 10px;
  }

  /* footer */
  .footer-social ul li a {
    border: 3px solid #fec63e;
    display: block;
    padding: 6px;
  }

  .footer-social ul li a img {
    width: 26px;
    height: 26px;
  }

  /* produtos */
  .produto-item h2 {
    top: -155px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    height: 122px;
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
  }

  .produto-info ul li {
    float: left;
    width: 181px;
    height: 49px;
    padding-top: 15px;
    background: #fec63e;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
}

/*  estilo para smartphones */
@media only screen and (max-width: 787px) {
  /* header */
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 20px;
  }

  .header-menu {
    text-align: center;
  }

  .header-menu ul li {
    margin: 5px;
  }

  .header-menu ul li a {
    display: block;
    float: left;
    width: 136px;
    border: 4px solid #000;
  }

  .header-menu ul li a:hover {
    border-color: #fff;
  }

  .header-menu ul li a.menu-ativo {
    border-color: #fff;
  }

  /* introdução */
  .introducao {
    margin-top: 0;
    padding-top: 20px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
  }

  .introducao h1 {
    margin-top: 10px;
    font-size: 36px;
  }

  /* introdução interna */
  .introducao-interna {
    margin-top: 0;
  }

  .call-to-action {
    padding: 10px;
  }

  .qualidade:after {
    display: none;
  }

  /* sobre */
  .missao-sobre p {
    padding-right: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .missao-sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }

  .produto-item h2 {
    top: -115px;
    margin-bottom: -84px;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 25px;
    height: auto;
  }

  .produto-info ul li {
    width: 149px;
    height: 49px;
    font-size: 14px;
    line-height: 20px;
  }

  .form {
    padding: 0;
  }

  /* contato */
  .form-contato {
    padding-right: 0;
    margin-bottom: 40px;
  }
}
