/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.btn {
	border: 3px solid #F3C63E;
	padding: 10px 30px;
	color: #F3C63E;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn:hover {
	color: #FFF;
	border-color: #FFF;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000
}

.subtitulo {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #F3C63E;
	padding: 15px 0;
	z-index: 10;
}

.header-menu {
	text-align: right;
}

.header-menu ul li {
	margin-top: 20px;
	display: inline-block;
	margin-left: 25px;
}

.header-menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	list-style: 20px;
	padding: 10px 0;
}

.header-menu ul li a:hover {
	color: #FFF;
}
/* Introdução*/

.introducao {
	height: 380px;
	width: 100%;
	margin-top: 96px;
	padding-top: 80px;
	background: url("../img/bg-intro.jpg") no-repeat center;
	text-align: center;

}

.introducao h1 {
	font-size: 48px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	color: #FFF;
	margin-bottom: 40px;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/* Produtos */
/* pode dar problemas depois TODO: remover section*/
section.produtos {
	padding: 60px 0;
}

.produtos-lista li {
	background: #fec63e;
	text-align: center;
}

.produtos-lista li h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.produtos-lista li h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;	
}

.produtos-lista li p {
	padding: 10px 20px 20px;
}

.produtos-icone {
	padding: 20px;
	background: #000;
}

.call-to-action {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call-to-action p{
	margin-bottom: 20px;
}