/* Estilos Gerais */

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

img {
	display: block;
}

.btn {
	border: 3px solid #F3C63E;
	padding: 10px 30px;
	color: #F3C63E;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn:hover {
	color: #FFF;
	border-color: #FFF;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000
}

.subtitulo {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto 40px;
}

.subtitulo-interno {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0 20px;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #F3C63E;
	padding: 10px 0;
	z-index: 10;
}

.header-menu {
	text-align: right;
}

.header-menu ul li {
	margin-top: 20px;
	display: inline-block;
	margin-left: 25px;
}

.header-menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	list-style: 20px;
	padding: 10px 0;
}

.header-menu ul li a:hover {
	color: #FFF;
}

.header-menu ul li a.menu-ativo {
	color: #fff;
}
/* Introdução*/

.introducao {
	height: 380px;
	width: 100%;
	margin-top: 82px;
	padding-top: 80px;
	background: url("../img/bg-intro.jpg") no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;

}

.introducao h1 {
	font-size: 48px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna {
	width: 100%;
	height: 160px;
	margin-top: 82px;
	padding-top: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #fff;
}

.introducao-interna h1 {
	font-size: 36px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	color: #FFF;
	margin-bottom: 40px;
}

.quote-externo p {
	font-style: italic;
}

.quote-externo p:before,
.quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 14px auto 10px;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/* Produtos */
/* pode dar problemas depois TODO: remover section*/
.produtos {
	padding: 60px 0;
}

.produtos-lista li {
	background: #fec63e;
	text-align: center;
}

.produtos-lista li h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.produtos-lista li h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 2px auto;	
}

.produtos-lista li p {
	padding: 10px 20px 20px;
}

.produtos-icone {
	padding: 20px;
	background: #000;
}

.produtos-icone img {
	margin: 0 auto;
}

.call-to-action {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call-to-action p{
	margin-bottom: 20px;
}

/* Porfólio */

.portfolio {
	width: 100%;
	background: #000;
	padding: 60px 0;
}

.portfolio .subtitulo {
	color: #fec63e;
}

.portfolio .subtitulo:after {
	background: #fec63e;
}

.portfolio-lista li:last-child {
	margin-top: 20px;
}

.portfolio .call-to-action p {
	color: #FFF;
}

/* Qualidade */

.qualidade {
	padding: 60px 0;
}

.qualidade:after {
	content: "";
	position: absolute;
	top: 218.5px;
	right: 168.5px;
	width: 623px;
	height: 81.5px;
	display: block;
	background: url("../img/linhas.svg") no-repeat center;
	z-index: -1;
}

.qualidade img {
	margin: 0 auto;
}

.qualidade-lista {
	padding-top: 20px;
	overflow: auto; /* clearfix*/
}

.qualidade-lista li {
	padding: 0 30px;
	text-align: center;
}

.qualidade-lista li h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 20px;
}

.qualidade-lista li h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 6px auto;	
}

/* Quebra */

.quebra {
	width: 100%;
	height: 220px;
	background: url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 47px;
}

.quebra .quote-externo {
	max-width: 400px;
}

/* footer */

.footer	{
	width: 100%;
	background: #000;
	color: #fff;
	padding: 20px 0 ;
}

.footer h3 {
	font-size: 18px;
	line-height: 25px;
	color: #fec63e;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fec63e;
	margin: 6px 0 10px;
}

.footer-historia {
	padding-right: 40px;
}

.footer-contato ul li {
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer-social ul li {
	display: inline-block;
}

.footer-social ul li a {
	display: block;
	margin-right: 10px;
	border: 3px solid #fec63e;
	padding: 10px;
}

.footer-social ul li a:hover {
	border-color: #fff;
}

.copy {
	width: 100%;
	background: #fec63e;
	padding: 20px 0;
	color: black;
}